$desktop: "only screen and (min-width: 900px)";

$primary-color: #E4E4E4;  //font color
$secondary-color: #1691C3;
$background-color: #E4E4E4;  //page background
$logo-color: #FC4887;

$primary-font: 'Open Sans', sans-serif;