@use "../../variables/general";
@use "../../mixins/mixins";

.btn{
  padding: 10px 20px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: general.$secondary-color;
  color: general.$white-color;
  text-decoration: none;
  font-weight: 700;
  border-radius: 5px;
  @include mixins.mobile(){
    justify-content: center;
    flex-direction: row-reverse;
  }
}

.btn-large{
  padding: 25px 40px;
  font-size: 2.25em;
}

.btn-primary{
  background-color: general.$secondary-color;
  color: general.$white-color;
}

.btn-secondary{
  background-color: general.$background-color;
  color: general.$primary-color;
}

//TODO btn-medium, btn-small